.button {
  border: 0;
  background: none;
  cursor: pointer;

  &--destroy {
    display: none;
    right: -5px;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    transition: color 0.2s ease-out;
    position: absolute;
    font-size: 30px;
    top: -5px;
    color: #cc9a9a;

    &:hover {
      color: #af5b5e;
    }

    &:after {
      content: '×';
    }
  }

  &--close-modal {
    display: block;
    position: sticky;
    top: 4px;
    left: 1000px;
  }

  &--module {
    border-radius: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
  }

  &--restore {
    border: 3px solid #95f3a585;
    transition: all 300ms;

    &:hover {
      border-color: transparent;
      background-color: #95f3a585;
    }
  }

  &--del-permanently {
    border: 3px solid #f3959585;
    transition: all 300ms;

    &:hover {
      border-color: transparent;
      background-color: #f3959585;
    }
  }

  &--clearCompleted {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &--show-all-statistics {
    position: fixed;
    top: 50%;
    left: -85px;
    transform: rotate(270deg);
    font-size: 20px;
    padding-inline: 20px;
    border: 5px solid #ffbdbd96;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #ffbdbd96;
  }
}
